# Node
node_modules/
npm-debug.log*

# Next.js
.next/
out/

# Electron Forge / build
.desktop-dist/
out/make/
out/package/
out/installer/
dist/
release/

# OS junk
.DS_Store
Thumbs.db

# Env
.env
.env.local
